.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-bottom: 50px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
